* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    padding: 2rem;
}

h1 {
    text-align: center;
}

.item input {
    display: none;
}

.item__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.item__header div {
    color: blue;
    font-weight: 500;
}

.item__header img {
    flex: 0 0 1rem;
    height: 1rem;
    transition: all 0.3s ease 0s;
}

.item__content {
    height: 0;
    width: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.item__content img {
    width: 80%;
}

.item__input:checked + label .item__header div {
    color: black;
}

.item__input:checked + label .item__header img {
    transform: rotate(45deg);
}

.item__input:checked + label .item__content {
    height: auto;   
    visibility: visible;
    width: 100%;
}

@media (min-width: 820px) {
    html {
        font-size: 2rem;   
    }
    .css-bayan {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 1.5rem;
    }
    .css-bayan {
        width: 40%;
        cursor: pointer;
    }
    .item__header img {
        opacity: 0;
        transition: all 0.3s ease 0s;
    }
    .css-bayan:hover .item__header img {
        opacity: 1;
    }
    .css-bayan:hover .item__header div {
        color: black;
    }
    .css-bayan:hover .item__input:checked + label .item__header img {
        opacity: 1;
    }

}







